@import "./Cell";

$cell-border-width: 2px;

.chess-board{
  .chess-cell{
    background-color: burlywood;
    border: $cell-border-width solid black;
  }

  .chess-cell:hover{
    background-color: darkgoldenrod;
  }

  .last-cell{
    border-style: dashed;
  }
}