@import "./Cell";

$cell-border-width: 2px;
$row-index-width: 25px;

.chess-board{
  .chess-cell{
    background-color: burlywood;
    border: $cell-border-width solid black;
  }

  .chess-cell:hover{
    background-color: darkgoldenrod;
  }

  .last-cell{
    border-style: dashed;
  }

  .row-index{
    display: inline-block;
    text-align: center;
    width: $row-index-width;

  }

  .col-index{
    display: inline-block;
    text-align: center;
    width: $cell-width + $cell-border-width * 2;
  }
}