@import "./Cell";

$icon-font-size: 3em;
$unicode-sign-offset: 5px;

.chess-status{
  span{
    line-height: $cell-height - $unicode-sign-offset;
  }
  .chess-cell {
    font-size: $icon-font-size;
  }
}
